Flask>=3.0
Flask-SQLAlchemy>=3.1
SQLAlchemy>=2.0
gunicorn>=22.0
Werkzeug>=3.0
Jinja2>=3.1
click>=8.1
itsdangerous>=2.1
blinker>=1.7
psycopg2-binary>=2.9
# Instale com: python -m pip install -r requirements.txt
